version: 2.0.0-build{build}
image: Visual Studio 2015
init:
- ps: >-
    if ($env:appveyor_repo_tag_name)
    {
      Update-AppveyorBuild -Version "$env:appveyor_repo_tag_name"
    }
before_build:
- cmd: nuget restore src\LazyEntityGraph.sln
assembly_info:
  patch: true
  assembly_version: "2.0.0.0"
  assembly_file_version: "2.0.0.{build}"
  assembly_informational_version: "{version}"
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
test:
  assemblies:
    only:
    - '**\LazyEntityGraph*Tests.dll'
deploy:
- provider: NuGet
  api_key:
    secure: "8x3Mcgshdo54GCog2ht9GKbVqGvXqrIiNO2KFlyvrS2Oe2F7OCDKoEbPIr8EjlWP"
  on:
    appveyor_repo_tag: true

